# Variables that accept Templum syntax may use the following variables:
# $action, $CONFIG_DIR, $device, $ga_enabled, $highlight (minibar only),
# $minibar, $mobile, $name, $narrow, $openid_enabled, $orientation (minibar
# only), $portal, $request_uri, $small, $theme, $url_scheme, $url_root
# $portal is the values in this file after processing.
#
# If a string value starts with a { or [ (Templum special characters), then
# you must wrap the string in quotes or else YAML will think it's a mapping or
# array, which you probably don't want.

# Name of your portal
name: B. Nay (b. 1992)
# Preferred URL for your portal (used in the top banner);
# defaults to script path / $PHP_SELF
url:  http://bnay.example/
# Root URL to use in absolute URLs (you should only need to change this if
# the automatic detection does not work).  $CONFIG_DIR should be in here.
# url-root: http://bnay.example/

# Default theme name (see the "themes" key)
theme: red
# Whether the listing should be narrow
narrow: False
# Whether the list images and text should be small
small: False
# Default minibar orientation (horizontal or vertical)
minibar-orientation: horizontal

# The top banner
banner:
 # Either "text", "image", or "none"
 type:    text
 # Text to display if type is text; image URL if type is image
 # Templum syntax is accepted here.  Defaults to the portal's name when type is
 # text.
 content: 

# Sites you want to link to.  All fields except index and minibar accept Templum
# syntax.
#
# Format:
#     machine-readable-name--only-letters-numbers-underscores-and-hyphens:
#         name: Name you want visitors to see
#         icon: Icon filename under $CONFIG_DIR/icons & $CONFIG_DIR/icons/small
#         url:  URL of the site
#         desc: Optional text description
#         index: Set to False to hide in the main list; leave out otherwise
#         minibar: Set to False to hide in the minibar list; leave out otherwise
sites:
    s-zeid:
        name: S. Zeid
        icon: s-zeid.png
        url:  https://s.zeid.me/
        desc: This <del>really cool person</del> f***ing narcissist who made this portal software

# Extra content to put in the footer.  This can be disclaimers, contact info,
# or anything else you see fit.  Templum syntax is accepted here.
custom-footer-content: |
 <p>Ceci n'est pas une portal.</p>

# Extra content to put in the HTML head element.  Templum syntax is
# accepted here.
custom-head-content: |

# Whether to show W3C Validator links
# Set to False if you don't want to show them, or if you know that your portal
# will not validate and you don't want to fix it (although you should)
show-validator-links: True

# Optional value for the link target attribute; defaults to nothing
# Example: _blank
link-target: 

# Optional Google Analytics credentials
google-analytics:
    # Account number
    account: 
    # Set to "old" if you want to use the old style code; new is recommended.
    style:   new

# Optional OpenID header tag stuff
# 
# You would get these URLs from your OpenID provider's help pages; look for a
# section that says something like "Use your own URL" and gives you some HTML
# code.  Then take the URLs from that code and paste them into the respective
# keys here.
# 
# You can omit either provider and local_id or server and delegate if your
# provider does not give you those URLs.  However, server and provider are
# often the same, as are delegate and local_id.
openid:
    # OpenID server URL
    server:   
    # OpenID provider URL
    provider: 
    # Delegate URL
    delegate: 
    # Local ID URL
    local_id: 
    # XRDS URL
    xrds:     

# Themes
# Templum syntax is accepted here.
#
# You can also set an optional "custom_css" key for each theme, which, as
# its name suggests, lets you add custom CSS to that theme.  The CSS will
# be added to the end of the original stylesheet.  Templum is accepted in
# custom CSS, and you also have access to a $theme array, which contains
# all of the other settings for the theme.
themes:
    red:
        bg:          '#636363 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACWCAMAAAAoqBJAAAACEFBMVEVKSkpKSktKS0pKS0tLSkpLSktLS0pLS0tLS0xLTEtLTExMS0tMS0xMTEtMTExMTE1MTUxMTU1NTExNTE1NTUxNTU1NTU5NTk1NTk5OTU1OTU5OTk1OTk5OTk9OT05OT09PTk5PTk9PT05PT09PT1BPUE9PUFBQT09QT1BQUE9QUFBQUFFQUVBQUVFRUFBRUFFRUVBRUVFRUVJRUlFRUlJSUVFSUVJSUlFSUlJSUlNSU1JSU1NTUlJTUlNTU1JTU1NTU1RTVFNTVFRUU1NUU1RUVFNUVFRUVFVUVVRUVVVVVFRVVFVVVVRVVVVVVVZVVlVVVlZWVVVWVVZWVlVWVlZWVldWV1ZWV1dXVlZXVldXV1ZXV1dXV1hXWFdXWFhYV1dYV1hYWFdYWFhYWFlYWVhYWVlZWFhZWFlZWVhZWVlZWVpZWllZWlpaWVlaWVpaWllaWlpaWltaW1paW1tbWlpbWltbW1pbW1tbW1xbXFtbXFxcW1tcW1xcXFtcXFxcXF1cXVxcXV1dXFxdXF1dXVxdXV1dXV5dXl1dXl5eXV1eXV5eXl1eXl5eXl9eX15eX19fXl5fXl9fX15fX19fX2BfYF9fYGBgX19gX2BgYF9gYGBgYGFgYWBgYWFhYGBhYGFhYWBhYWFhYWJhYmFhYmJiYWFiYWJiYmFiYmJiYmNiY2JiY2NjYmJjYmNjY2JjY2N4wovhAAAAW0lEQVQY07XNyRGDQBQDUf03W/7p2pjxAYoMKF27W0kGTnQ/DFvTRXRNoTSxfJQhGEpD3dSJ6dAwfU0xbZR9OxfXdByPtWz97lxfdFEipoglOk9vCU5TPT95f39fWxLYueOzkQAAAABJRU5ErkJggg==") repeat-x fixed'
        fg:          ['#FFF', '#EEE', '#DDD', '#CCC']
        logo_bg:     '#700'
        logo_border: '#300'
        ico_bg:      '#FFF'
        link_bg:     '#800'
        link_bg_h:   '#700'
        link_bg_a:   '#600'
    red-dark-bg:
        bg:          '#444'
        fg:          ['#FFF', '#EEE', '#DDD', '#CCC']
        logo_bg:     '#600'
        logo_border: '#300'
        ico_bg:      '#FFF'
        link_bg:     '#700'
        link_bg_h:   '#600'
        link_bg_a:   '#500'
    brown-red:
        bg:          '#441A00'
        fg:          ['#FFF', '#EEE', '#DDD', '#CCC']
        logo_bg:     '#700'
        logo_border: '#300'
        ico_bg:      '#500'
        link_bg:     '#900'
        link_bg_h:   '#800'
        link_bg_a:   '#700'
    red-green:
        bg:          '#040'
        fg:          ['#FFF', '#EEE', '#DDD', '#CCC']
        logo_bg:     '#700'
        logo_border: '#300'
        ico_bg:      '#500'
        link_bg:     '#900'
        link_bg_h:   '#800'
        link_bg_a:   '#700'
    win-classic:
        bg:          '#3A6EA5'
        fg:          ['#FFF', '#EEE', '#DDD', '#CCC']
        logo_bg:     transparent
        logo_border: '#FFF'
        ico_bg:      '#3A6EA5'
        link_bg:     '#0A246A' # Alternate:  A6CAF0
        link_bg_h:   '#0A246A'
        link_bg_a:   '#0A246A'
